.item-line{line-height:40px;clear:both;}
.item-label{float:left;margin-left: 2%;}
.item-label1{float:left;margin-right: 2%;}
.item-left{float:left;}
.item-input{float:left;}
.item-input1{float:left;}

