<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style type="text/css">
body {
	padding: 0;
	margin: 0;
	background-size: cover;
	background-image: url(img/indexbgimg.jpg);
}

.row {
	/* [disabled]width: 450px; */
	margin-left: auto;
	margin-right: auto;

	position: static;
}

.bn0 {
	width: 100%;
	position: relative;
	z-index: 1;
}
.bncn {
	width: 579px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}
.bn {
	width: 579px;
	height: 147px;
	margin-bottom: 50px;
	margin-top: 50px;
}
</style>

</head>

<body>
<div class="row">
  <div class="bn0"><img src="img/img.jpg" width="100%"  alt=""/></div>
  <div class="bncn">
    <div class="bn"><img src="img/bn1.png" width="579" height="147"  alt=""/></div>
  <div class="bn"><img src="img/bn2.png" width="579" height="147"  alt=""/></div>
     <div class="bn"><img src="img/bn3.png" width="579" height="147"  alt=""/></div>
  <div class="bn"><img src="img/bn4.png" width="579" height="147"  alt=""/></div>
  </div>  
</div>
</body>
</html>
