.header{background:url(images/header_bg.png) repeat-x top;}
.header span{text-shadow:1px 1px #570014;}
a{color:#890523;}
blockquote{color:#570014;}
h6{color:#ffc6d3;}
a.left_bt{background:url(images/left_bt.png) no-repeat center; text-shadow:1px 1px #890523;}
.left_nav a{text-shadow:1px 1px #890523; background:url(images/left_bt.png) no-repeat center; }
.right_nav a{text-shadow:1px 1px #890523;background:url(images/left_bt.png) no-repeat center; }

.post_details{background-color:#570014;}
.entry ul li{background:url(images/bullet.gif) no-repeat left;}
.comment span a{color:#570014;}
.services_content a{color:#570014;}

input.form_submit{background:url(images/left_bt.png) no-repeat center;text-shadow:1px 1px #890523;}
input.form_submit_right{background:url(images/left_bt.png) no-repeat center;text-shadow:1px 1px #890523;}
input.contact_submit{background:url(images/left_bt.png) no-repeat center;text-shadow:1px 1px #890523;}

.corner_wrap h2 a:hover, .corner_wrap h2 a:focus{ color:#570014;}

.trigger a:hover, .trigger a:hover:focus{color:#570014;}
.toggle_container ul li a:hover, .toggle_container ul li a:focus{color:#890523;}

a#next{background:url(images/right_nav_a.png) no-repeat center;}
a#prev{background:url(images/left_nav_a.png) no-repeat center;}

#footer{background:url(images/footer_bg.jpg) repeat-x center;}
#footer span{text-shadow:1px 1px #570014;}